.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.headerLogo {
    color: inherit;
    text-decoration: inherit;
    font-size: 2.3rem;
    margin: 0;
}